<h2>Show Book</h2>
<p>Book_name: <%= @book.book_name%></p>
<p>Author: <%= @book.author%></p>
<p>Illustator: <%= @book.illustator%></p>

<p>Book Cover: <br>
<% if @book.cover.present? %>
  <%= image_tag @book.cover.url(:medium)%></p>
<% else %>
  <%= image_tag "medium/missing.png"%></p>
<% end %>
<p><%= @book.comments.count %></p>
<p><%= render @book.comments %> Comments</p>

<p><%= render "comments/form" %></p>
